@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.login {
    @include section-with-image(url(../../../images/mount.jpg));
    border-bottom: 0;

    height: auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form {
        width: 100%;
        margin-top: 5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2rem;
    }
    &__buttons {
        margin-top: 5rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        width: 100%;

        .black-btn {
            min-width: 45rem;
        }
    }
}