.clocks {
    height: 100vh;
    padding: 10rem;
    background-color: rgba(255, 228, 196, 0.644);

    
    @media screen and (max-width: 767px) {
        padding: 5rem;
    }
    @media screen and (max-width: 576px) {
        padding: 2rem;
    }

    &__wrapper {
        position: relative;
        padding: 5rem;

        border: 12px solid black;

        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 5rem;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            gap: 3rem;
        }
        @media screen and (max-width: 576px) {
            padding: 2rem;
        }

        
        span {
            font-size: 20px;
        }

        .subheadline { 
            margin-bottom: 1rem;

            @media screen and (max-width: 576px) {
                font-size: 32px;
            }
        }
    }
    &__update-btn {
        display: block;

        background-color: black;

        color: white;
        font-size: 32px;
        line-height: 50px;
        font-weight: 600;
        width: max-content;
        padding: 2rem 5rem;
        margin: 3rem auto 0 auto;

        max-width: 100%;

        transition: all 0.3s ease;

        cursor: pointer;

        &:hover {
            transform: scale(1.03);
        }
    }
    &__info {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        cursor: pointer;
       
        width: max-content;

        &:hover {
            text-decoration: underline;
        }

        margin: 20px auto;
    }
}