$breakp450: 450px;
$breakp576: 576px;
$breakp767: 767px;
$breakp991: 991px;
$breakp1200: 1200px;
$breakp1400: 1400px;

$Gray: #eeecec;
$DeepGray: #ececec;
$BorderColor: #666666;
$Black: #000000;
$White: #ffffff;

$transition: all .2s ease-in;
$header-height: 100px;

* {
	box-sizing: border-box;
	margin: 0;
}

@font-face {
	font-family: 'CavierDream-Regular';
	src: url(./fonts/CaviarDreams.ttf);
}
@font-face {
	font-family: 'CavierDream-Bold';
	src: url(./fonts/CaviarDreams_Bold.ttf);
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: url(./fonts/Montserrat-Medium.ttf);
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: url(./fonts/Montserrat-Bold.ttf);
}


body,
html {
	font: 500 10px/1.5 'Montserrat-Regular', sans-serif;
	height: 100%;
    background-color: $White;

	scroll-behavior: smooth;

	::-webkit-scrollbar {
		width: 10px; 
		height: 8px;
		background-color: $White;
	}
	
	::-webkit-scrollbar-thumb {
		background-color: $Black;
	}
}

#root {
	min-height: 100vh; 
}

h1 {
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;

	@media (max-width: $breakp450) {
		font-size: 35px;
		line-height: 40px;
	}
}

h2 {
	font-weight: 700;
	font-size: 35px;
	line-height: 45px;

	@media (max-width: $breakp576) {
		font-size: 25px;
		line-height: 30px;
	}
}

h3 {
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;

	@media (max-width: $breakp576) {
		font-size: 20px;
	}
}

p,
li,
span {
	font-size: 2rem;
	line-height: 3rem;

	@media (max-width: $breakp576) {
		font-size: 1.8rem;
		line-height: 2.5rem;
	}
}

p,
ul,
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

.paragraph {
	margin: 1.5rem 0;
}
section {
	padding: 10rem 0;
	position: relative;
}