
$breakp450: 450px;
$breakp576: 576px;
$breakp767: 767px;
$breakp991: 991px;
$breakp1200: 1200px;
$breakp1400: 1400px;

$Gray: #eeecec;
$DeepGray: #ececec;
$BorderColor: #666666;
$Black: #000000;
$White: #ffffff;

$transition: all .2s ease-in;
$header-height: 100px;