@import '../../../styles/variables.scss';

.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    z-index: 101;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.75);

    &__inner {
        display: block;
        position: relative;
        z-index: 3;

        width: 65%;
        height: 500px;

        padding: 120px;

        color: #fff;

        border-radius: 20px;

        background-color: black;

        @media (max-width: $breakp767) {
            padding: 5rem 3rem;

            width: calc(100% - 40px);
        }

        h2 {
            margin-bottom: 20px;
        }
        p {
            padding-bottom: 10px;
        }
    }

    &.mobileMenu {
        .modal {
            &__inner {
                border-radius: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    &__close-btn { 
        display: flex;
        align-items: center;
        justify-content: center;

        transform: scale(1.35);

        width: 35px;
        height: 35px;

        position: absolute;
        top: 2rem;
        right: 2rem;

        background: url(../../../images/close.svg);
    }
}