@import '../../styles/variables.scss';

.header {
    position: fixed;
    width: 100%;
    background-color: $DeepGray;
    border-bottom: 2px solid black;
    z-index: 100;

    padding: 2rem 5rem;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: center;

        &-links {
            display: flex;
            flex-direction: row;
            gap: 4rem;

            @media (max-width: $breakp767) {
                &.desktop {
                    display: none;
                }
                &.mobile {
                    flex-direction: column;
                    gap: 3rem;
                }
            }
        }
        &-burger {
            display: none;

            padding: 1rem 0;

            @media (max-width: $breakp767) {
                display: block;
            }

            transition: all .12s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            div {
                position: relative;
    
                background-color: black;
    
                width: 2.5rem;
                height: .3rem;
    
                &::after,
                &::before {
                    content: "";
                    position: absolute;
    
                    width: 2.5rem;
                    height: .3rem;
    
                    background-color: black;
                }
    
                &::after {
                    bottom: -.8rem;
                }
                &::before {
                    top: -.8rem;
                }
            }

        }

        &-link {
            text-decoration: none;
            color: black;
            font-size: 2rem;
            line-height: 3rem;

            transition: all .1s ease-in-out;

            @media (min-width: $breakp767) {
                &:hover {
                    transform: scale(1.07);
                }
            }

            &.logo {
                position: relative;
                left: 0;
            }

            @media (max-width: $breakp767) {
                color: #fff;
            }
        }
    }
}