@import '../../styles/variables.scss';

.footer {
    width: 100%;
    background-color: $DeepGray;

    border-top: 2px solid $BorderColor;
    
    &__navigation {
        display: flex;
        flex-direction: row;
        align-items: center;

        .navigation-links {
            display: flex;
            flex-direction: row;
            gap: 4rem;

                
            @media (max-width: $breakp576) {
                flex-direction: column;
                gap: 3rem;
            }

            .navigation-link {
                text-decoration: none;
                color: $Black;
                font-size: 2rem;
                line-height: 3rem;
    
                transition: all .1s ease-in-out;
    
                @media (min-width: $breakp767) {
                    &:hover {
                        transform: scale(1.07);
                    }
                }

            }
        }

    }
}