@import '../../styles/variables.scss';

.todos {
    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    
        transition: all 0.3s ease-in;
    
        @media (max-width: $breakp991) {
            grid-template-columns: 1fr;
        }
    
        .todo {
            &-item {
                position: relative;

                display: flex;
                flex-direction: row;
                align-items: center;
    
                padding: 2rem 5rem 2rem 2rem;
                background-color: $DeepGray;
                border-radius: 1rem;
    
                transition: all .15s ease-in;
    
                &:hover {
                    transform: scale(1.02);
                }
    
                &__id {
                    min-width: 3rem;
                    font-size: 2rem;
                }
                &__status {
                    min-width: 20px;
                    min-height: 20px;
                    margin-right: 2rem;
                }
                &__title {
                    font-size: 2rem;
                    font-weight: 500;
    
                    &.status-true {
                        color: #fff;
                    } 
                }
                &__close {
                    position: absolute;
                    right: 2rem;

                    img {
                        transform: scale(1.1);
                        transition: $transition;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}