@import '../../styles/variables.scss';

.clocks {
    &__wrapper {
        position: relative;
        padding: 50px;

        background-color: $DeepGray;
        border-radius: 1rem;

        z-index: 2;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 50px;

        @media (max-width: $breakp1200) {
            flex-direction: column;
            gap: 30px;
        }
        @media (max-width: $breakp576) {
            padding: 20px;
        }

        
        span {
            font-size: 20px;
        }

        .subheadline { 
            margin-bottom: 10px;

            @media (max-width: $breakp576) {
                font-size: 32px;
            }
        }
    }
    &__info {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        cursor: pointer;
       
        width: max-content;

        &:hover {
            text-decoration: underline;
        }

        margin: 20px auto;
    }
}